<div class="row">
    <div class="col"></div>
        <div class="col-4">
            <h2><%= @user.name %></h2>
            <h4>Upcoming events</h4>
            <ul>
              <% events_going(@user.id).each do |event| %>
                <li><%= link_to  "#{event.description}", user_event_path(event.creator, event) %></li>
              <% end %>
            </ul>
            <h4>Attended events</h4>
            <ul>
              <% events_attended(@user.id).each do |event| %>
                <li><%= link_to  "#{event.description}", user_event_path(event.creator, event) %></li>
              <% end %>
            </ul>
            <h4>My events</h4>
                <ul>
                    <% @created_events.each do |event| %>
                    <li><%= link_to  "#{event.description}", user_event_path(event.creator, event) %></li>
                    <% end %>
                </ul>
            <h4>Invitations</h4>
            <ul>
                <% if invited_to %>
                    <% invited_to.each do |event| %>
                      <% if event.date > Time.now %>  
                        <li><%= link_to  "#{event.description}", "../../users/#{event.creator_id}/events/#{event.id}" %></li>
                      <% end %>
                    <% end %>
                <% end %>
            </ul>
        </div>
    <div class="col"></div>
</div>