<div class="row">
  <div class="col"></div>
    <div class="col-4">
      <h3><%= @event.description %></h3>
      <p>When?: <%= @event.date %></p>
      <p>Where?: <%= @event.location %></p>
      <p>Created by: <%= @user.name %></p>
      <%= form_for (:invitation) do |f| %>
        <% @other_users.each do |user| %>
          <%= f.label "#{user.id}".to_sym, "#{user.name}" %>
          <%= f.check_box "#{user.id}".to_sym %>
        <% end %>
        <%= f.submit 'Invite' %>
      <% end %>
      <% unless @event.attendees.nil? %> 
      <ul>
        <% @event.attendees.each do |attend| %>
      <li>
        <%= attend.username %>
      </li>
      <% end %>
      <% end %>
      </ul>
    </div>
  <div class="col"></div>
</div>
