<div class="row">
  <div class="col"></div>
    <div class="col-4">
      <h3><%= @event.description %></h3>
      <p>When?: <%= @event.date %></p>
      <p>Where?: <%= @event.location %></p>
      <p>Created by: <%= @user.name %></p>
    </div>
  <div class="col"></div>
</div>

<%= @event.attendees do |attendee| %>
  <%= attendee.name%>
<% end %>